@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
ul {
    text-align: left;
}

img {
    border-radius: 50%;
}
